@page "/refresh"
@page "/refresh/{text}"
@page "/refresh/{text}/{TicketId:long}"
@inject NavigationManager NavigationManager

<h1>If you see this text, Then you are not refreshing your content page</h1>
@code {
    [Parameter] public string Text { get; set; }
    [Parameter] public long TicketId { get; set; }
    protected override void OnInitialized()
    {
        if (Text == "ticketlist") {
            NavigationManager.NavigateTo("/settings/ticketlist");
        }
        if (Text == "ticketCategory") {
             NavigationManager.NavigateTo("/settings/ticketcategory");
        }
        if (Text == "ticketBranch")  {
            NavigationManager.NavigateTo("/settings/ticketbranch");
        }
        if (Text == "ticketlist")
        {
          NavigationManager.NavigateTo("/ticketlist");
        }
        if (Text == "ticketcreate")
        {
          NavigationManager.NavigateTo("/ticket/create");
        }
        if(Text == "ticketstatus")
        {
          NavigationManager.NavigateTo("/settings/ticketstatus");
        }
        if(Text == "otheractivity")
        {
          NavigationManager.NavigateTo("/createactivity");
        }
        if(Text == "ticketactivity")
        {
          NavigationManager.NavigateTo($"/activitybyid/{TicketId}");
        }
        if (Text == "subtask")
        {
            NavigationManager.NavigateTo($"/subtask/{TicketId}");
        }
    }
}