@page "/"

@inject NavigationManager navigationManager
@attribute [Authorize]

<div hidden>
    v1.1.50.46
</div>
@code {
    protected override void OnInitialized()
    {
        navigationManager.NavigateTo($"/dashboard");
    }
}