.ticket-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 315px; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "ticket-content ticket-content ticket-content ticket-sidebar"
    "ticket-content ticket-content ticket-content ticket-sidebar"
    "ticket-content ticket-content ticket-content ticket-sidebar"
    "ticket-content ticket-content ticket-content ticket-sidebar"; 
  height: calc(100vh - 125px);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  .ticket-content { 
    grid-area: ticket-content; 
    padding: 8px;
  }
  .ticket-sidebar { 
    grid-area: ticket-sidebar; 
    padding: 8px;
  }
}
