.font10 {
  font-size: 10px !important;
}
.font12 {
  font-size: 12px !important;
}
.font14 {
  font-size: 14px !important;
}
.font-bold {
  font-weight: bold !important;
}
.txtinput-bold {
  .mud-input {
    font-weight: bold !important;
  }
}
.txt-uppercase {
  text-transform: uppercase !important;
}

.minput-lbl-1 {
  .mud-input-label {
    font-weight: bold !important;
  }
}

.txt-mdense {
  .mud-input {
    margin-top: 0px !important;
  }
  .mud-input-slot {
    font-size: 14px !important;
  }
}
.ff-theramin {
  font-family: "Theramin" !important;
}

.val-msg-12px {
  .validation-message {
    font-size: 12px;
  }
}

.wspace-nowrap {
  white-space: nowrap !important;
}

.oflow-elipsis {
  text-overflow: ellipsis !important;
}

.txt-oflow-elipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.rdb-font12px {
  .mud-typography {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: bold;
  }
}

.ltr-spc-1px {
  letter-spacing: 1px !important;
}

.text-center {
  text-align: center !important;
}

.inputs-12pxbold {
  .mud-input-control {
    .mud-input {
      font-size: 12px !important;
      font-weight: bold !important;
    }
  }
}
.inputs-12px {
  .mud-input {
    font-size: 12px !important;
  }
}
.inputs-14px {
  .mud-input {
    font-size: 14px !important;
  }
}
.font-date14px {
  font-size: 14px !important;
}

.chkbx-font12px {
  .mud-typography {
    font-size: 12px !important;
  }
}

.blzrth-oflowhidden {
  .blazored-typeahead {
    overflow: hidden !important;
  }
}
.blzrth-maxheight {
  .blazored-typeahead__results {
    max-height: calc(100vh - 640px) !important;
  }
}
