.userAccountsContainer {
  height: 100%;
  background-color: #e0e0e0;
  padding: 0.5px 0px 35px 0px !important;
  .mud-table {
    // height: 83vh;
    .mud-table-container {
      // height: 75vh;
      height: calc(100vh - 205px);
      min-width: 75vh;
    }
  }

  .mud-toolbar {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40px !important;
    background-color: inherit;

    .mud-container:nth-child(1) {
      display: flex;
      gap: 10px;
      width: 20vw;
      padding: 0px 5px;
    }

    .mud-typography-h6 {
      font-family: "Orbitron", sans-serif;
    }

    .mud-input-control {
      .mud-input {
        font-size: 12px;
        margin: 0px !important;
      }
    }

    .mud-button-label {
      font-size: 12px;
    }
  }
}

.userAccountsContainer {
  .mud-table-row > th:nth-child(1) {
    min-width: 200px;
  }
}


.mtoolbar-h-30px {
  .mud-toolbar {
    background-color: white !important;
    border-radius: 5px !important;
    height: 40px !important;
  }
}

.tabletxt-search {
  margin-top: 0px !important;
  margin-left: 5px !important;
  margin-bottom: 15px !important;
  .mud-input-control-input-container {
    width: calc(20vw - 30px);
  }
}
// High #f44336d9
// Medium #ff9800d1
// Low #2196f3cf

.ticketlist-table {
  padding-top: 8px;
  .mud-toolbar {
    border-radius: 4px !important;
    background-color: white !important;
    height: 40px !important;
  }

  &__menu {
    .mud-button-label {
      font-size: 12px !important;
    }
  }
  &__menu-row {
    .mud-button-root {
      font-size: 12px !important;
      font-weight: unset !important;
    }
  }
}

.activity-list-table {
  .mud-toolbar {
    border-radius: 4px !important;
    height: 40px !important;
  }

  &__menu {
    .mud-button-label {
      font-size: 12px !important;
    }
  }
  &__menu-row {
    .mud-button-root {
      font-size: 12px !important;
      font-weight: unset !important;
    }
  }
}

.table-sm-type {
  @extend .activity-list-table;
}