@page "/test"

@inherits TestBase


<MudContainer MaxWidth='MaxWidth.Medium' Fixed>
    <MudCard>
        <MudCardHeader>
            Testing page
        </MudCardHeader>
        <MudCardContent>
            @foreach (var item in NotificationList)
            {
                <p>@item.UserAccountName</p>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton OnClick='Test'>Test Set</MudButton>
            <MudButton OnClick='GetList'>Test Get</MudButton>
        </MudCardActions>
    </MudCard>
</MudContainer>