.font-theramin { font-family: "Theramin" !important; }
.font-agency { font-family: "Agency" !important; }
.font-rflex-regular { font-family: "R-Flex Regular" !important; }
.font-rflex-bold { font-family: "R-Flex Bold" !important; }
.font-sf-pro { font-family: "SF-Pro" !important; }
.font-sf-pro-display-regular { font-family: "SF-Pro-Display Regular" !important; }
.font-sf-pro-semi-bold-italic { font-family: "SF-Pro-Display Semibold-Italic" !important; }
.font-sf-pro-display-bold { font-family: "SF-Pro-Display-Bold" !important; }