@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("./createticket/ticket.styles.css");
@import url("./useraccounts/useraccounts.styles.css");
@import url("./userdetails/userdetails.styles.css");
@import url("./tables/tables.styles.css");
@import url("./dialogs/dialogs.styles.css");
@import url("./skeleton/skeleton.styles.css");
@import url("./ticketreport/TicketReport.styles.css");
@import url("./accomplishmentreport/accomplishmentreport.styles.css");
@import url("./audittrail/audittrail.styles.css");
@import url("./ticketactivity/ticketactivity.styles.css");
@import url("./activityreport/activityreport.styles.css");
@import url("./otheractivity/otheractivity.styles.css");
@import url("./filterdialog/filterdialog.styles.css");
@import url("./dashboard/dashboard.styles.css");
@import url("./subtask/subtask.styles.css");
@import url("./error/errorpage.styles.css");
@import url("./ticketcomment/ticketcomment.css");
@import url("./dialogs/ticketpeekdialog.styles.css");
@import url("./dialogs/dashboarddialog.styles.css");
@import url("./speechbubble/speechbubble.styles.css");
@font-face {
  font-family: "Theramin";
  src: url("../fonts/agency/theramin.woff2") format("woff2");
}

html,
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.valid.modified:not([type="checkbox"]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.loader {
  animation: spin 500ms linear infinite;
  border: 10px solid silver;
  border-top: 10px solid #012340;
  border-radius: 50%;
  height: 120px;
  left: 47%;
  position: absolute;
  top: 40%;
  width: 120px;
  -webkit-animation: spin 500ms linear infinite;
  /* Safari */
}

.loader-2 {
  color: #012340 !important;
  height: 120px !important;
  width: 120px !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.mainBodyContainer {
  height: calc(100vh - 80px);
  padding: 7px 0px 0px 0px !important;
}

.mainLayoutDrawer .mud-drawer-content {
  background-color: #012340;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 12px;
}

.mainLayoutDrawer .mud-drawer-content .mud-nav-link-text {
  font-size: 13px;
}

.mainLayoutDrawer .mud-drawer-content .mud-navmenu {
  height: 100%;
}

.mainLayoutDrawer .mud-drawer-content .drawerFooterIcon {
  text-align: center;
}

.mainLayoutDrawer .mainnavmenu {
  display: none;
}

.mainLayoutDrawer .mainnavmenu .mud-icon-root {
  color: white !important;
}

.mainLayoutDrawer .mud-nav-group a {
  padding-left: 16px !important;
}

.mainLayoutDrawer .mud-nav-group .mud-collapse-container {
  background-color: #012;
}

.mainLayoutDrawer .TopContainer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-width: 200px;
  padding: 0px 5px !important;
  margin: 2px 0px !important;
  color: white !important;
}

.mainLayoutDrawer .TopContainer .mud-button-root {
  padding-top: 2px !important;
}

.mainLayoutDrawer .TopContainer .mud-icon-root {
  color: white !important;
}

.mainLayoutDrawer .TopContainer .mud-typography {
  font-size: 13px;
  padding-left: 4px !important;
  padding-top: 4px;
}

.mainLayoutDrawer .mud-nav-link-expand-icon.mud-transform {
  fill: white !important;
}

.top-appbar .HeaderIcon {
  color: rgba(0, 0, 0, 0.6);
}

.top-appbar .mud-toolbar {
  color: gray;
  height: 55px;
  padding: 0px 16px 0px 16px;
}

.top-appbar__content-title {
  font-family: "Theramin", sans-serif !important;
  font-size: 1.5rem !important;
  color: #7d7d7d;
}

.top-appbar__popover {
  width: 350px !important;
  max-height: 80vh;
  margin-top: 38px;
}

.top-appbar__popovercontent {
  padding: 0px !important;
}

.top-appbar__tableheader {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 50px;
}

.top-appbar__tabledata {
  border: 0 !important;
}

.top-appbar__avatar {
  margin-right: 10px;
}

.top-appbar__notifcontainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100px;
  padding: 0px !important;
}

.top-appbar__notiflist {
  padding: 0px !important;
}

.top-appbar__lblUserAcc, .top-appbar__lblActivity, .top-appbar__lblTimeDiff {
  max-width: 250px !important;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.top-appbar__lblUserAcc, .top-appbar__lblActivity {
  font-size: 14px !important;
}

.top-appbar__lblUserAcc, .top-appbar__lblTimeDiff {
  -webkit-line-clamp: 1;
  font-weight: 400 !important;
}

.top-appbar__lblActivity {
  -webkit-line-clamp: 2;
  font-weight: 500 !important;
}

.top-appbar__lblTimeDiff {
  font-size: 10px !important;
}

.top-appbar .mud-grid {
  margin-bottom: 5px !important;
  margin-top: 3px !important;
}

.top-appbar .empticket {
  margin-top: 100px !important;
  text-align: center !important;
}

#SystemHeader {
  height: 56px !important;
  overflow: hidden;
}

.footerAppbar {
  background-color: #f7f7f8 !important;
  height: 32px;
}

.footerAppbar .mud-typography {
  color: black;
  font-size: 12px;
}

.footerAppbar .mud-button-root {
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

.footerAppbar .mud-toolbar {
  padding: 0px 16px 0px 16px;
}

.mud-toolbar {
  background-color: #f7f7f8;
  color: black;
  height: 55px !important;
}

.user-panel {
  height: 55px !important;
}

.user-panel .mud-expand-panel-header {
  max-width: 320px;
  min-width: 320px;
  padding: 0px 24px !important;
  margin: 3px 0px !important;
}

.user-panel .mud-nav-item {
  margin: 10px 0px;
}

.user-panel__txtname {
  font-size: 15px !important;
}

.user-panel__txtdesignation {
  font-size: 12px !important;
}

.user-panel .mud-avatar {
  margin-right: 10px;
}

.user-panel__btncontainer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0px 16px !important;
}

.user-panel__btncontainer .mud-svg-icon {
  color: black !important;
}

.user-panel__btncontainer-btn {
  font-size: 14px !important;
  text-transform: none !important;
}

.user-panel__logout-btn {
  width: 100%;
}

.lineHorizContainer {
  height: 20px;
  padding: 10px 0px !important;
  margin-bottom: 5px;
}

.lineHorizContainer hr {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  color: rgba(0, 0, 0, 0.12);
  height: 1px;
  margin: 0px;
  opacity: 1;
}

.navToolBar {
  background-color: white;
  height: 15px !important;
}

.navToolBar .mud-button {
  height: 15px;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
  color: orange !important;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) .mud-icon-root {
  color: orange !important;
}

.mud-badge-wrapper {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mud-badge-wrapper .mud-badge-badge {
  font-size: 11px !important;
}

:root {
  --mud-palette-primary: #012340 !important;
}
/*# sourceMappingURL=app.css.map */