@use '../components/flexgridmods/flexgridmods.styles.css';

.skeletonCardUserDetails {
  height: 500px;
  width: 40vw;
  margin: auto;
}

.skeletoncontainer {
  margin: 0px !important;
  &__flex,
  &__grid {
    padding: 0px 0px !important;
  }
  &__flex {
    display: flex !important;
    margin: 0px !important;
  }
  &__grid {
    display: grid !important;
  }
  &__headerbox {
    height: 50px !important;
  }
  &__textbox {
    height: 25px !important;
  }
  &__contentbox {
    height: 25vh !important;
  }
  &__skelbtn {
    margin: 0px 10px;
    width: 75px;
    height: 50px !important;
  }
}

.skeleton-list-container {
  border-top: solid thin #607d8b21;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 200px;
  grid-template-rows: 35px 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "skel-header skel-header skel-header skel-header"
    "skel-content skel-content skel-content skel-content"
    "skel-content skel-content skel-content skel-content"
    "skel-content skel-content skel-content skel-content";
  // height: calc(100vh - 100px);
  .skel-header {
    grid-area: skel-header;
    padding: 8px;
  }

  .skel-content {
    grid-area: skel-content;
  }
}
