@inject ISnackbar Snackbar

<MudDialog Class='custom-dialog1'>
    <TitleContent>
        <MudText Typo='Typo.h6'>
            <div class='d-flex align-center gap-2 custom-dialog1__title'>
                <MudIcon Class='mr-3' Icon="@Icons.Material.Filled.Update" />
                <MudText Typo='Typo.h6'>@ContentText</MudText>
            </div>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>
            @DialogContentText
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Class='btn-ios-d font12' OnClick='Cancel' Variant='Variant.Text' Size='Size.Small' DisableElevation>
            Cancel
        </MudButton>
        <MudButton Class='btn-ios-d font12' OnClick='Submit' Color="@Color" Variant="Variant.Filled" Size='Size.Small' DisableElevation>
            @ButtonText
        </MudButton>
    </DialogActions>
</MudDialog>
@code
{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = new MudDialogInstance();
    [Parameter] public string ContentText { get; set; } = string.Empty;
    [Parameter] public string ButtonText { get; set; } = string.Empty;
    [Parameter] public Color Color { get; set; }
    [Parameter] public string DialogContentText { get; set; } = string.Empty;
    void Submit()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
    void Cancel()
    {
        MudDialog.Cancel();
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
        Snackbar.Configuration.SnackbarVariant = Variant.Filled;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Add($"Cancelled action", Severity.Normal);
    }

}