<div class='mainlayout-subheader gap-2'>
    <MudSkeleton Width='120px' Height='25px' Animation='Animation.Wave' />
    <MudSkeleton Width='20px' Height='20px' Animation='Animation.Wave' />
    <MudSpacer />
    <MudSkeleton Width='100px' Height='22px' Animation='Animation.Wave' />
</div>
<div class='ticket-container overflow-auto'>
    <div class="ticket-content">
        <MudPaper Class='pa-2' Width='100%' Height='564px'>
            <MudSkeleton Width='100%' Height='40px' Animation='Animation.Wave' />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="92%" Animation='Animation.Wave' />
        </MudPaper>
    </div>
    <div class="ticket-sidebar d-flex flex-column gap-2">
        <MudPaper Class='pa-2' Width='299px' Height='56px'>
             <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="94%" Animation='Animation.Wave' />
        </MudPaper>
        <MudPaper Class='pa-2' Width='299px' Height='56px'>
             <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="94%" Animation='Animation.Wave' />
        </MudPaper>
        <MudPaper Class='pa-2' Width='299px' Height='372px'>
             <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="94%" Animation='Animation.Wave' />
        </MudPaper>
        <MudPaper Class='pa-2' Width='299px' Height='56px'>
             <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="94%" Animation='Animation.Wave' />
        </MudPaper>
    </div>
</div>