<div class='skeleton-list-container'>
    <MudPaper Class='skel-header' Square Elevation='0'>
        <MudGrid Spacing='1'>
            <MudItem xs=1>
                <MudSkeleton Animation='Animation.Wave' />
            </MudItem>
            <MudItem xs=1>
                <MudSkeleton Animation='Animation.Wave' />
            </MudItem>
            <MudItem xs=1>
                <MudSkeleton Animation='Animation.Wave' />
            </MudItem>
            <MudItem xs=8>

            </MudItem>
            <MudItem xs=1>
                <MudSkeleton Animation='Animation.Wave' />
            </MudItem>
        </MudGrid>
    </MudPaper>
    <div class='skel-content'>
        <MudPaper Class='ma-2 pa-2' Height='calc(100vh - 135px)'>
            <MudSkeleton Width='100%' Height='40px' Animation='Animation.Wave' />
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="94%" Animation='Animation.Wave' />
        </MudPaper>
    </div>
</div>