  <div class="notif-row">
    <div class='notif-row__grid'>
        <div class="notif-employeecard">
            <div class='d-flex align-center gap-2'>
                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="28px" Height="28px" />
                <div class='d-flex flex-column overflow-hidden gap-1'>
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100px" Height="10px" />
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50px" Height="10px" />
                </div>
            </div>
            <MudSpacer />
            <MudSkeleton Width='25px' Height='18px'/>
        </div>
        <div class="notif-content">
            <MudSkeleton Width='100%' Height='40px'/>
        </div>
        <div class="notif-time">
            <MudSkeleton Width='80px' Height='20px'/>
        </div>
        <div class="notif-date">
            <MudSkeleton Width='80px' Height='20px'/>
        </div>
    </div>
</div>