.dflex-row, .dashboard-container .cardcont4__content .content-count {
  align-items: center;
  display: flex !important;
}

.dflex-col {
  flex-direction: column;
  display: flex;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full {
  flex: 1 1 0%;
}

.flex-grow {
  flex-grow: 1 !important;
}

.dflex {
  display: flex;
}

.dblock {
  display: block;
}

.dblock-inline {
  display: inline-block;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-8 {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .line-clamp-8, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 
.font-theramin {
  font-family: "Theramin" !important;
}

.font-agency {
  font-family: "Agency" !important;
}

.font-rflex-regular {
  font-family: "R-Flex Regular" !important;
}

.font-rflex-bold {
  font-family: "R-Flex Bold" !important;
}

.font-sf-pro {
  font-family: "SF-Pro" !important;
}

.font-sf-pro-display-regular, .dashboard-container .cardcont4__header .header-section, .dashboard-container .cardcont4__header .header-count, .dashboard-container .cardcont4__content .content-category, .dashboard-container .cardcont4__content .content-count {
  font-family: "SF-Pro-Display Regular" !important;
}

.font-sf-pro-semi-bold-italic {
  font-family: "SF-Pro-Display Semibold-Italic" !important;
}

.font-sf-pro-display-bold {
  font-family: "SF-Pro-Display-Bold" !important;
} 
.dashboard-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.3fr;
  gap: 8px;
  grid-template-areas: "topLCont topLCCont topRCCont topRCont" "centCont centCont centCont bottomRCont" "bottomCont bottomCont bottomCont bottomRCont";
  height: calc(100vh - 85px);
  overflow: hidden;
}
.dashboard-container .mud-paper {
  border-style: solid;
  border-top: none;
  border-right: none;
  border-left: none;
}
.dashboard-container .mud-paper:nth-child(1) {
  grid-area: topLCont;
}
.dashboard-container .mud-paper:nth-child(1) .mud-container:nth-child(1) {
  background-color: rgba(0, 128, 0, 0.7411764706);
}
.dashboard-container .mud-paper:nth-child(2) {
  grid-area: topLCCont;
}
.dashboard-container .mud-paper:nth-child(3) {
  border-color: red;
  grid-area: topRCCont;
}
.dashboard-container .mud-paper:nth-child(4) {
  border-color: #f8778d;
  grid-area: topRCont;
}
.dashboard-container .mud-paper:nth-child(4) .mud-container:nth-child(1) {
  background-color: #f8778d;
}
.dashboard-container .mud-paper:nth-child(5) {
  border-color: #012340;
  grid-area: centCont;
}
.dashboard-container .mud-paper:nth-child(6) {
  border-color: #012340;
  grid-area: bottomRCont;
}
.dashboard-container .mud-paper:nth-child(7) {
  border-color: #012340;
  grid-area: bottomCont;
}
.dashboard-container .cardcont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 24px;
}
.dashboard-container .cardcont__subcont {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}
.dashboard-container .cardcont__hlabel {
  color: white;
  max-width: 12vw;
  text-align: right !important;
}
.dashboard-container .cardcont__hlabel .mud-typography:nth-child(1) {
  font-size: 2rem !important;
  font-weight: bold !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-container .cardcont__hlabel .mud-typography:nth-child(2) {
  font-size: 0.9rem !important;
  font-weight: bold !important;
}
.dashboard-container .cardcont__hcardicon {
  color: white;
  height: 50px;
  width: 50px;
}
.dashboard-container .cardcont__fcardicon {
  display: flex;
  color: gray;
}
.dashboard-container .cardcont__fcardicon .mud-icon-button,
.dashboard-container .cardcont__fcardicon .mud-icon-root {
  height: 20px !important;
  width: 20px !important;
}
.dashboard-container .cardcont__lblonfooter {
  font-size: 12px;
  font-weight: bold;
}
.dashboard-container .cardcont__datepickercard4 {
  height: 20px !important;
  padding-top: 0.25rem;
}
.dashboard-container .cardcont__datepickercard4 .mud-input-slot {
  display: none;
}
.dashboard-container .cardcont__datepickercard4 .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
  margin-top: unset;
}
.dashboard-container .cardcont__datepickercard4 .mud-input.mud-input-underline:before,
.dashboard-container .cardcont__datepickercard4 .mud-input.mud-input-underline:after {
  border-bottom: none !important;
}
.dashboard-container .cardcont__datepickercard4 .mud-icon-root {
  height: 20px !important;
  width: 20px !important;
}
.dashboard-container .cardcont__datepickercard4 .mud-toolbar {
  background-color: #f8778d !important;
}
.dashboard-container .cardcont2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px 1fr;
  grid-template-areas: "topCont2 topCont2" "bottomCont2 bottomCont2";
  padding-top: 5px;
  padding-bottom: 10px;
}
.dashboard-container .cardcont2__subcont {
  display: flex;
  padding: 0px 16px 0px 16px;
}
.dashboard-container .cardcont2__subcont:nth-child(1) {
  align-items: center;
  grid-area: topCont2;
}
.dashboard-container .cardcont2__subcont:nth-child(2) {
  grid-area: bottomCont2;
}
.dashboard-container .cardcont2__centerchart {
  align-items: center;
  flex-direction: row-reverse !important;
  gap: 5px;
}
.dashboard-container .cardcont2__centerchart .mud-chart-legend {
  display: grid;
  justify-content: flex-start !important;
  margin-top: 0px !important;
  width: 25% !important;
}
.dashboard-container .cardcont2__centerchart .mud-chart-legend .mud-chart-legend-marker {
  width: 10px !important;
  height: 10px !important;
}
.dashboard-container .cardcont2__centerchart .mud-chart-legend .mud-typography {
  font-size: 0.7rem;
}
.dashboard-container .cardcont2__centerchart .mud-chart-line {
  height: calc(50vh - 30px);
  width: calc(50vw - 10px);
}
.dashboard-container .cardcont2__lblonfooter .mud-button-root {
  height: 20px;
  width: 20px;
}
.dashboard-container .cardcont2__fcardicon {
  display: flex;
  color: gray;
}
.dashboard-container .cardcont2__fcardicon .mud-icon-button,
.dashboard-container .cardcont2__fcardicon .mud-icon-root {
  height: 20px !important;
  width: 20px !important;
}
.dashboard-container .cardcont2__cardtitle {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}
.dashboard-container .cardcont2__menucheckboxlist {
  background-color: black;
  gap: 5 !important;
  padding: 5px !important;
}
.dashboard-container .cardcont3 {
  display: grid;
  grid-template-columns: 1r;
  grid-template-rows: 20px 0.5fr 1fr;
  height: 100%;
  padding: 5px 0px 0px 0px;
}
.dashboard-container .cardcont3__subcont {
  display: flex;
}
.dashboard-container .cardcont3__subcont:nth-child(1), .dashboard-container .cardcont3__subcont:nth-child(2) {
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.dashboard-container .cardcont3__subcont:nth-child(3) {
  padding: 0px;
}
.dashboard-container .cardcont3__lblonfooter .mud-button-root {
  height: 20px;
  width: 20px;
}
.dashboard-container .cardcont3__fcardicon {
  display: flex;
  color: gray;
}
.dashboard-container .cardcont3__fcardicon .mud-icon-button,
.dashboard-container .cardcont3__fcardicon .mud-icon-root {
  height: 20px !important;
  width: 20px !important;
}
.dashboard-container .cardcont3__expansionpanels {
  height: 100%;
  width: 100%;
}
.dashboard-container .cardcont3__expansionpanels .mud-expand-panel {
  height: calc(50vh - 150px);
  overflow: auto;
}
.dashboard-container .cardcont3__expansionpanels .mud-expand-panel-content {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.dashboard-container .cardcont3__expansionpaneldata {
  align-items: center;
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 1fr 20px;
  grid-template-rows: auto;
}
.dashboard-container .cardcont3__expansionpaneldata .mud-avatar {
  height: 30px;
  width: 30px;
}
.dashboard-container .cardcont3__expansionpaneldata .mud-typography {
  font-size: 12px;
}
.dashboard-container .cardcont3__cardtitle {
  align-self: center;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}
.dashboard-container .cardcont3__piechart {
  height: calc(30vh - 30px);
}
.dashboard-container .cardcont4__grid {
  border: solid thin #012340;
  background-color: #012340;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-gap: 1px;
  grid-template-areas: "cardcont4-left cardcont4-center cardcont4-right";
  height: 100%;
}
.dashboard-container .cardcont4__grid .cardcont4-left {
  grid-area: cardcont4-left;
}
.dashboard-container .cardcont4__grid .cardcont4-center {
  grid-area: cardcont4-center;
}
.dashboard-container .cardcont4__grid .cardcont4-right {
  grid-area: cardcont4-right;
}
.dashboard-container .cardcont4__header {
  background-color: #012340;
  color: white;
  display: flex;
  padding: 0px 10px;
}
.dashboard-container .cardcont4__header .header-section, .dashboard-container .cardcont4__header .header-count {
  font-size: 14px;
  font-weight: bold;
}
.dashboard-container .cardcont4__content {
  display: grid;
  grid-template-columns: 1fr 20px;
  max-height: calc(20vh - 55px);
  overflow: auto;
  padding: 0px 8px;
}
.dashboard-container .cardcont4__content .content-category, .dashboard-container .cardcont4__content .content-count {
  font-size: 12px;
}
.dashboard-container .cardcont4__content .content-count {
  justify-content: center;
}/*# sourceMappingURL=dashboard.styles.css.map */