@use "../components/flexgridmods/flexgridmods.styles.css";

@media print {
    body * {
        visibility: hidden;
    }
    .accompPrintDiv,
    .accompPrintDiv * {
        visibility: visible;
    }

    .accompPrintDiv {
        position: absolute;
        left: 0;
        top: 0;
    }
    body {
        margin: 0.4cm;
        margin-top: 0.2cm !important;
        -webkit-print-color-adjust: exact !important;
        size: 8.5in 13in landscape;
        page-break-before: always;
        // .pageFooter::after{
        //     counter-increment: page;
        //     content: counter(page);
        // }
    }
    @page {
        margin: 0.4cm !important;
        size: 8.5in 13in landscape;
        page-break-before: always;
        margin: 0.9cm !important;
    }
}
// .footer {
//     width: 100%;
//     position: fixed;
//     padding: 10px 0;
//     color: #575655;
//     bottom: 0;
//     height: 3px !important;
//     text-align: right;
//     padding-right: 20px;
//     .pageFooter {
//         font-size: 8px;
//     }
// }
.headerTitle {
    color: black;
    font-size: 11px;
}

.accompPrintDiv {
    width: 100%;
    // margin-top: 10px;
    overflow-x: auto;
    text-align: center;

    .main {
        height: 100%;
        margin-bottom: 3%;
        width: 100%;
        overflow-x: auto;
    }
}

.Header {
    width: 100%;
    text-align: center;
    overflow: auto;
}
.tableHeader {
    color: black;
    font-weight: bold;
    font-size: 10px;
    background-color: #c7e3f9;
}

.TicketDesc {
    min-width: 120px;
    max-width: 120px;
    text-align: left !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
}
.tableText {
    word-wrap: break-word;
}

.TicketIssue {
    min-width: 100px;
    max-width: 100px;
    text-align: left !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
}
.ticketStatus {
    min-width: 50px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    max-width: 50px;
    border: 1px solid;
    border-color: #ebebeb;
}
.tableTD {
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
    min-width: 45px;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    font-size: 9px;
    page-break-after: always;
    text-align: center;

    .dayscount {
        padding-left: 2px !important;
        padding-right: 2px !important;
        max-width: 45px;
        min-width: 45px;
        border: 1px solid;
        border-color: #ebebeb;
    }
}

.ticketname {
    text-align: left;
    padding-left: 2px !important;
    padding-right: 2px !important;
    min-width: 75px;
    max-width: 75px;
    border: 1px solid;
    border-color: #ebebeb;
}

.tdTHDate {
    padding-left: 2px !important;
    padding-right: 2px !important;
    max-width: 65px;
    border: 1px solid;
    border-color: #ebebeb;
}

.branchName {
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
    min-width: 55px;
}

.ticketDept {
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
    max-width: 90px;
}

.ticketRemarks {
    padding-left: 2px !important;
    padding-right: 2px !important;
    border: 1px solid;
    border-color: #ebebeb;
    max-width: 70px;
    min-width: 70px;
    text-align: left;
}

.docref {
    padding-left: 2px !important;
    padding-right: 2px !important;
    min-width: 55px;
    max-width: 55px;
    border: 1px solid;
    border-color: #ebebeb;
}

.signatories {
    margin-top: 3%;
    width: 100%;
    font-size: 10px;
}
.signatories th,
td {
    min-width: 40px;
    max-width: 40px;
}

// pageNumber Footer

.accmp-report { 
    &__container {
        padding: 8px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30px 1fr 1fr 30px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "accmp-header accmp-header accmp-header accmp-header"
            "accmp-body accmp-body accmp-body accmp-body"
            "accmp-body accmp-body accmp-body accmp-body"
            "accmp-footer accmp-footer accmp-footer accmp-footer";
        height: calc(100vh - 105px);
        .accmp-header { grid-area: accmp-header; }
        .accmp-body { grid-area: accmp-body; }
        .accmp-footer { grid-area: accmp-footer; }

        .accmp-header,.accmp-body { border-bottom: solid thin var(--mud-palette-table-lines); }

        .accmp-header, .accmp-footer { 
            @extend .dflex-row; 
            padding: 4px 8px;
        }
        .accmp-header {
            justify-content: space-between;
            &__controls {
                @extend .dflex-row;
            }
        }
        .accmp-body {
            @extend .dflex-col, .flex-full;
            align-items: center;
            justify-content: center;
        }
        .accmp-footer {
            gap: 4px;
        }
    }
    &__title, &__title-noreport {  font-family: "R-Flex Bold"; }
    &__title {
        font-size: 14px;
        margin-right: 4px;
    }
    &__lbl {
        font-family: "R-Flex Regular";
        font-size: 12px;
    }
    &__title-noreport {
        font-size: 16px;
    }
  }
  
