.dflex-row, .ticket-activity__grid .activity-header, .ticket-activity__grid-other-act .activity-header {
  align-items: center;
  display: flex !important;
}

.dflex-col {
  flex-direction: column;
  display: flex;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full {
  flex: 1 1 0%;
}

.flex-grow {
  flex-grow: 1 !important;
}

.dflex {
  display: flex;
}

.dblock {
  display: block;
}

.dblock-inline {
  display: inline-block;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3, .ticket-info-card__txt-issue {
  -webkit-line-clamp: 3;
}

.line-clamp-8, .ticket-info-card__txt-description {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .ticket-info-card__txt-issue, .line-clamp-8, .ticket-info-card__txt-description, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 
.activity-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 300px;
  grid-template-rows: 35px 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "act-content act-content act-content act-sidebar" "act-content act-content act-content act-sidebar" "act-content act-content act-content act-sidebar" "act-content act-content act-content act-sidebar";
  height: calc(100vh - 125px);
  margin-right: auto;
  margin-left: auto;
  max-width: 2560px;
}
.activity-container .act-content {
  grid-area: act-content;
}
.activity-container .act-sidebar {
  grid-area: act-sidebar;
}
.activity-container .activity-table {
  margin: 8px;
}
.activity-container .activity-table .mud-toolbar {
  background-color: white;
  border-radius: 5px;
  height: 40px !important;
}
.activity-container .activity-table .mud-toolbar .mud-button-label {
  font-size: 12px;
}
.activity-container .activity-table .mud-toolbar .mud-input-root-text {
  font-size: 12px;
}

.ticket-activity {
  padding: 8px;
}
.ticket-activity__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr minmax(150px, 300px);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 0px;
  grid-template-areas: "activity-header activity-header activity-header activity-header" "activity-content activity-content activity-content activity-info" "activity-content activity-content activity-content activity-info" "activity-content activity-content activity-content activity-info";
}
.ticket-activity__grid .activity-header {
  grid-area: activity-header;
}
.ticket-activity__grid .activity-content {
  grid-area: activity-content;
}
.ticket-activity__grid .activity-info {
  grid-area: activity-info;
}
.ticket-activity__grid .activity-header {
  border-bottom: solid thin var(--mud-palette-table-lines);
  padding: 4px;
}
.ticket-activity__grid .activity-info {
  border-left: solid thin var(--mud-palette-table-lines);
  padding: 8px 16px;
}
.ticket-activity__grid-other-act {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr minmax(150px, 300px);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 0px;
  grid-template-areas: "activity-header activity-header activity-header activity-header" "activity-content activity-content activity-content activity-content" "activity-content activity-content activity-content activity-content" "activity-content activity-content activity-content activity-content";
}
.ticket-activity__grid-other-act .activity-header {
  grid-area: activity-header;
}
.ticket-activity__grid-other-act .activity-content {
  grid-area: activity-content;
}
.ticket-activity__grid-other-act .activity-header {
  border-bottom: solid thin var(--mud-palette-table-lines);
  padding: 4px;
}

.ticket-info-card__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4px;
  grid-template-areas: "tinfo-header tinfo-header tinfo-header tinfo-header" "tinfo-req tinfo-req tinfo-req tinfo-req" "tinfo-assigned tinfo-assigned tinfo-assigned tinfo-assigned" "tinfo-ticketnum tinfo-ticketnum tinfo-ticketdate tinfo-ticketdate" "tinfo-task-title tinfo-task-title tinfo-task-title tinfo-task-title" "tinfo-task-desc tinfo-task-desc tinfo-task-desc tinfo-task-desc" "tinfo-priority tinfo-priority tinfo-status tinfo-status";
}
.ticket-info-card__grid .tinfo-header {
  grid-area: tinfo-header;
}
.ticket-info-card__grid .tinfo-req {
  grid-area: tinfo-req;
}
.ticket-info-card__grid .tinfo-assigned {
  grid-area: tinfo-assigned;
}
.ticket-info-card__grid .tinfo-ticketnum {
  grid-area: tinfo-ticketnum;
}
.ticket-info-card__grid .tinfo-ticketdate {
  grid-area: tinfo-ticketdate;
}
.ticket-info-card__grid .tinfo-task-title {
  grid-area: tinfo-task-title;
}
.ticket-info-card__grid .tinfo-task-desc {
  grid-area: tinfo-task-desc;
}
.ticket-info-card__grid .tinfo-priority {
  grid-area: tinfo-priority;
}
.ticket-info-card__grid .tinfo-status {
  grid-area: tinfo-status;
}
.ticket-info-card__grid .tinfo-header {
  font-family: "SF-Pro-Display Regular";
  font-size: 14px;
  font-weight: bold;
}
.ticket-info-card__grid .tinfo-req, .ticket-info-card__grid .tinfo-assigned {
  border-bottom: solid thin var(--mud-palette-table-lines);
}
.ticket-info-card__grid .tinfo-task-desc {
  padding-top: 8px;
}
.ticket-info-card__txt {
  font-family: "SF-Pro-Display Regular";
  font-size: 12px;
}
.ticket-info-card__txt-description {
  font-family: "SF-Pro-Display Regular";
  font-size: 12px;
  max-height: calc(100vh - 600px);
  min-height: 100px;
}
.ticket-info-card__txt-issue {
  font-family: "SF-Pro-Display Regular";
  font-size: 14px;
}/*# sourceMappingURL=ticketactivity.styles.css.map */